<!DOCTYPE html>
<html lang="en">
<head>
    <script type"text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../../../public/javascripts/edit.js"></script>
    <meta charset="UTF-8">
    <title>Edit To Do List</title>
</head>
<body>
    <h2>Edit To Do List</h2>
    <p>Editing Todo by api server</p>
    <form id="form_edit">
    Task: <input type="text" name="task" id="task"><br>
    Status: <input type="text" name="status" id="status"><br>
    Priority: <input type="text" name="priority" id="priority"><br>
    Due Date: <input type="text" name="due_date", placeholder="yyyy-mm-dd" id="due_date"}><br>
    Note: <input type="text" name="note" id="note"><br>
    <input type="button" id="btn_edit" value="EDIT">
    </form>
</body>
</html>